body {
    margin: 0 auto;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.title2 {
    margin-top: 24px;
}

div.inf-canvas {
    position: fixed;
    z-index: 999;
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 45%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.main-title > span {
    font-size: 47px;
}

.child-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    font-size: 14px;
    color: #d35400;
}

#demo-canvas {
    background-color: rgba(34, 34, 34, 0.7);
}